<?xml version="1.0" encoding="UTF-8"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="multi_kr6_r700_2">
  <!-- Import macro files  -->
  <xacro:include filename="$(find kuka_agilus_support)/urdf/kr6_r700_2_macro.xacro"/>
  <xacro:include filename="$(find kuka_agilus_support)/urdf/kr_agilus_ros2_control_macro.xacro"/>
  <!-- Read additional arguments  -->
  <xacro:arg name="driver_version" default="rsi_only"/>
  <xacro:arg name="mode" default="hardware"/>
  <xacro:arg name="roundtrip_time" default="0"/>
  <xacro:arg name="verify_robot_model" default="true"/>

  <!-- Robot 1 -->
  <xacro:arg name="prefix" default="robot1_"/>
  <xacro:arg name="client_ip" default="0.0.0.0"/>
  <xacro:arg name="client_port" default="59152"/>
  <xacro:arg name="mxa_client_port" default="1337"/>
  <xacro:arg name="controller_ip" default="0.0.0.0"/>
  <xacro:arg name="use_gpio" default="false"/>

  <!-- Robot 2 -->
  <xacro:arg name="prefix2" default="robot2_"/>
  <xacro:arg name="client_ip2" default="0.0.0.0"/>
  <xacro:arg name="client_port2" default="59152"/>
  <xacro:arg name="mxa_client_port2" default="1337"/>
  <xacro:arg name="controller_ip2" default="0.0.0.0"/>
  <xacro:arg name="use_gpio2" default="false"/>

  <!-- Async hardware interface parameters -->
  <xacro:arg name="async_thread_priority" default="69"/>
  <xacro:arg name="async_affinity" default="[]"/>

  <!-- Robot 1 ros2_control + geometry -->
  <xacro:kuka_agilus_ros2_control name="$(arg prefix)kr6_r700_2" driver_version="$(arg driver_version)" client_ip="$(arg client_ip)" client_port="$(arg client_port)" mxa_client_port="$(arg mxa_client_port)" controller_ip="$(arg controller_ip)" prefix="$(arg prefix)" mode="$(arg mode)" use_gpio="$(arg use_gpio)" roundtrip_time="$(arg roundtrip_time)" verify_robot_model="$(arg verify_robot_model)" is_async="true" async_thread_priority="$(arg async_thread_priority)" async_affinity="$(arg async_affinity)">
    <ext_axes_ros2_control_joints/>
  </xacro:kuka_agilus_ros2_control>
  <!-- Robot 2 ros2_control + geometry -->
  <xacro:kuka_agilus_ros2_control name="$(arg prefix2)kr6_r700_2" driver_version="$(arg driver_version)" client_ip="$(arg client_ip2)" client_port="$(arg client_port2)" mxa_client_port="$(arg mxa_client_port2)" controller_ip="$(arg controller_ip2)" prefix="$(arg prefix2)" mode="$(arg mode)" use_gpio="$(arg use_gpio2)" roundtrip_time="$(arg roundtrip_time)" verify_robot_model="$(arg verify_robot_model)" is_async="false" async_thread_priority="$(arg async_thread_priority)" async_affinity="$(arg async_affinity)">
    <ext_axes_ros2_control_joints/>
  </xacro:kuka_agilus_ros2_control>
  <!-- world link -->
  <link name="world"/>
  <!-- Robot 1 links, joints -->
  <xacro:kuka_kr6_r700_2_robot prefix="$(arg prefix)" package_name="kuka_agilus_support"/>
  <joint name="$(arg prefix)world-base_link" type="fixed">
    <parent link="world"/>
    <child link="$(arg prefix)base_link"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <!-- Robot 2 links, joints -->
  <xacro:kuka_kr6_r700_2_robot prefix="$(arg prefix2)" package_name="kuka_agilus_support"/>
  <joint name="$(arg prefix2)world-base_link" type="fixed">
    <parent link="world"/>
    <child link="$(arg prefix2)base_link"/>
    <origin xyz="2 0 0" rpy="0 0 0"/>
  </joint>
</robot>
